<a href="https://colab.research.google.com/github/LeoGamaJ/RoadMaPy/blob/main/RoadMaPy_02_Tipos_de_Dados_em_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python RoadMap 02

1. Diferença entre variáveis,valores e tipos.? 

2. Exibindo seus valores e tipos das variáveis na tela. (print() e type())

3. Tipos de dados em Python
  
  3.1 String (str)

  3.2 Inteiros (int) 
  
  3.3 Ponto Flutuante ou Decimal (float)
    
  3.4 Tipo Complexo (complex) 
  
  3.5 Boleanos (bool)
  
  3.6 Lista (list)
  
  3.7 Tuplas (tuple).
    
  3.8 Dictionary (dic)

  3.9 Conjuntos (set)

______________________________________________________________________________
**1**. Diferença entre Variável, Valor e tipo.

A ***variável*** armazena um ***valor***. E esse ***valor*** é determinado por um **tipo**. 
O ***valor*** é qualquer informação, seja um número, texto, música, vídeo e etc. O ***tipo*** por sua vez, é a estrutura da informação e a forma de classificarmos os dados.


`Semântica: <variável> = <valor> `

Ex.: 
```
var_name = 'Hello World!'

```
Podemos exibir o **conteúdo** da variável através do comando `print()`

Ex.:

```
print('var_name')
```

In [ ]:
var_name = 'Hello World!'
print(var_name)

Hello World

In [ ]:
# Segue exemplo de uma variável com valor atribuído

número = 13

# Exibindo em tela

print(número)

13

• Nomes de variáveis podem conter apenas letras, números e underscores. Podem
começar com uma letra ou um underscore, mas não com um número.

• Espaços não são permitidos em nomes de variáveis, mas
underscores podem ser usados para separar palavras em nomes de
variáveis. 

• Evite usar palavras reservadas e nomes de funções em Python como
nomes de variáveis, ou seja, não use palavras que Python reservou
para um propósito particular de programação, por exemplo, a
palavra print.

• Nomes de variáveis devem ser concisos,
porém descritivos.

________________________________________________
1. Tipos de dados

O tipo é uma forma de classificar as informação. As linguagens de programação normalmente trazem implementado o que é chamado de tipos primitivos, isto é, o tipo de dado mais genérico possível. Toda informação que manipularemos será, por definição, de um tipo.



Podemos exibir o **tipo** do conteúdo da variável através do comando `type()`

`Semântica: comando(argumento)`

In [ ]:
# Descobrindo o tipo do valor da variável

type(nome_variável)

# Exibindo a variável e o tipo em tela

print(type(nome_variável))

In [ ]:
'''
No exemplo abaixo estamos atribuindo a variáveis (valores a esquerda do sinal de igualdade = ), 
os valores que se encontram a direita do sinal de igualdade). 

Esses valores atribuídos são classificados por tipagem. 
'''

x = "Ana"   # String: representa um conjunto de caracteres disposto numa determinada ordem.
y = 13      # Int: Dados compostos por caracteres numéricos (algarismo). 
w = 1.3     # Float: Dados compostos por caracteres numéricos (algarismo) com pontos flutuantes.  
z = 3 + 4j  # Complex: Letras, números e sinais. 


a = True    # Booleanos.
b = False   # Booleanos.

In [ ]:
# No exemplo anterior determinamos as variáveis x, y, w, z, a e b. 

# print() nos exibe o que está contido na variável, o seu valor. 

print(x)
print(y)
print(w)
print(z)
print(a)

# type() nos apresenta o tipo do valor da variável

print(type(x))
print(type(y))
print(type(w))
print(type(z))
print(type(a))

Ana
13
1.3
(3+4j)
Ana <class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
# Podemos exibir esses dados incluindo mais de um argumento.  

print (x, type(x))
print (y, type(y))
print (w, type(w))
print (z, type(z))

Ana <class 'str'>
13 <class 'int'>
1.3 <class 'float'>
(3+4j) <class 'complex'>


Operadores Aritméticos

```
+	soma
–	subtração
*	multiplicação
/	divisão
//	Divisão trunca a parte fracionaria
%	 Produz o resto da divisão
**	Exponenciação
abs(x)	     Retorna o valor absoluto de x
pow(x, y)	  O mesmo x**y
round(x, n)	Retorna um int ou float arredondado para n casas decimais se n for dado
```

In [ ]:
# Operadores

# Números inteiros
x = 1
y = 2
resultado = x + y
print(resultado)
print(type(resultado))

Dividir entre numéricos e strings

In [ ]:
# Atribuição de valores

# Semantica: <identificador> = <expressão>

cateto_a = 4
endereco = id(cateto_a)
print(endereco)

94760729332320

In [ ]:
# Posição de memória da variável

hexa_endereco = hex(endereco)
print(hexa_endereco)

0x562f339c4a60

In [ ]:
a = 10
print(a)
print(id(a)) #

10
94760729332512

In [ ]:
b = 10
print(a)
print(id(a)) #

10
94760729332512

In [ ]:
id(a) == id(b)

True

Tipos

In [ ]:
a = 5
print("Tipo de dados de a: ", type(a))

b= 5.0
print("\nTipo de dados de a: ", type(b))

c = 2 + 4j
print("\nTipo de dados de a: ", type(c))

d = "Sport"
print("\nTipo de dados de a: ", type(d))

e = "10"
print("\nTipo de dados de a: ", type(e))

Tipo de dados de a:  <class 'int'>

Tipo de dados de a:  <class 'float'>

Tipo de dados de a:  <class 'complex'>

Tipo de dados de a:  <class 'str'>

Tipo de dados de a:  <class 'str'>

Strings

São definidas pelas aspas

In [ ]:
strings1 = 'Esta é uma string'
print(strings1)
print(type(strings1))

Esta é uma string
<class 'str'>

In [ ]:
n_inteiro = 100
print(type(n_inteiro))

string_de_inteiro = str(n_inteiro)
print(type(string_de_inteiro))

<class 'int'>
<class 'str'>

_________________________________________________________________________

Listas 

- Mutáveis
- Podem Possuir vários tipos de elementos
- Ordenadas
- Começam com o indice [0]

In [ ]:
lista = []
print(lista)
print(type(lista))

[]
<class 'list'>

In [ ]:
# Lista com string

lista = ['Flamengo', 'Palmeiras', 'Cruzeiro']
print(lista)
print(lista[0])

['Flamengo', 'Palmeiras', 'Cruzeiro']
Flamengo

In [ ]:
# Listas de listas
lista_2 = [['Flamengo', 'Palmeiras'], ['Cruzeiro', 'América']]
print(lista_2)
print(lista_2[0])
print(lista_2[0][0])
print(lista_2[1][0])

[['Flamengo', 'Palmeiras'], ['Cruzeiro', 'América']]
['Flamengo', 'Palmeiras']
Flamengo
Cruzeiro

In [ ]:
# Diferente tipos

lista_3 = [['Flamengo', 5, 'Palmeiras', 1], ['Cruzeiro', 1.5, 'América', 0.5]]
print(lista_3)
print(lista_3[0])
print(lista_3[0][0])
print(lista_3[1][0])

[['Flamengo', 5, 'Palmeiras', 1], ['Cruzeiro', 1.5, 'América', 0.5]]
['Flamengo', 5, 'Palmeiras', 1]
Flamengo
Cruzeiro

Adicionando items na lista
.append()

In [ ]:
lista_n = [1, 2, 3, 4, 5]
print('Lista numérica: ', lista_n)

Lista numérica:  [1, 2, 3, 4, 5]

In [ ]:
lista_n.append(6)
print('Lista numérica: ', lista_n)

lista_n.append('IGTI')
print('Lista numérica: ', lista_n)

Lista numérica:  [1, 2, 3, 4, 5, 6, 6]
Lista numérica:  [1, 2, 3, 4, 5, 6, 6, 'IGTI']

In [5]:
# Add itens em posição específica

lista_cores = []
lista_cores.append('Vermelho')
lista_cores.append('Amarelo')
lista_cores.append('Verde')
print("Lista após adicionar as cores: ")
print(lista_cores)
print("-=" * 30)

print(f"Lista após adicionar as cores: {lista_cores}")

Lista após adicionar as cores:
['Vermelho', 'Amarelo', 'Verde']
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
Lista após adicionar as cores: ['Vermelho', 'Amarelo', 'Verde']

In [13]:
# Excluindo elementos de listas
list = [4, 6, 18, 4, 9, 11]

print("List before calling remove() function:")
print(list)

list.remove(18)

print("List after calling remove() function:")
print(list)

List before calling remove() function:
[4, 6, 18, 4, 9, 11]
List after calling remove() function:
[4, 6, 4, 9, 11]

In [ ]:
list = [1, 4, 6, 2, 6, 1]

print("List before calling del() function:")
print(list)

del list[3]

print("List after calling del() function:")
print(list)

In [ ]:
list = [1, 4, 6, 2, 6, 1]

print("List before calling pop() function:")
print(list)
list.pop(0)
print("List after calling pop() function with index :")
print(list)
list.pop()

print("List after calling pop() function without index :")
print(list)